@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 1.5rem; }

.fa-2x img {
  width: 1.5rem; }

.area {
  position: fixed;
  left: 0;
  height: 100%; }

body {
  margin: 0; }

.fa {
  position: relative;
  display: table-cell;
  width: 2rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  padding-left: .1rem; }

.wp-content {
  margin-left: 2rem;
  padding: 2rem;
  height: 100%; }

.main-menu:hover, nav.main-menu.expanded {
  width: 15.2rem;
  overflow: visible; }

.main-menu {
  background: #002f43;
  border-right: 1px solid #4e4c4c;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 2.2rem;
  overflow: hidden;
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
  box-shadow: 3px 3px 3px lightgray; }

.main-menu > ul {
  margin: 7px 0; }

.main-menu li {
  position: relative;
  display: block;
  width: 18rem; }

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 7px;
  color: snow;
  font-family: thin,'Open Sans', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 12.1rem;
  font-family: 'Open Sans', sans-serif;
  padding-left: 1rem; }

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0; }

.no-touch .scrollable.hover {
  overflow-y: hidden; }

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible; }

a:hover, a:focus {
  text-decoration: none; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0; }

.main-menu li:hover > a, nav.main-menu .main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #b50156; }

.search_form_container {
  margin-bottom: 1rem;
  width: 50rem; }

.search_form {
  display: flex;
  justify-content: space-between; }

.search_form > label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  color: gray; }

.search_empl_field {
  height: 1.8rem;
  width: 16rem;
  text-decoration: none;
  border: gray 1px solid;
  font-family: FontAwesome, sans-serif;
  font-size: 0.9rem;
  color: #002f43;
  font-weight: normal; }

.query_dept_field {
  height: 1.6rem;
  width: 14rem;
  background-color: inherit;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; }

.query_dept_container {
  height: 2.0rem;
  width: 16rem;
  background-color: inherit;
  text-decoration: none;
  border: gray 1px solid; }

.search-btn {
  border: none;
  background-color: #002f43;
  width: 6rem;
  height: 2rem;
  color: snow;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 2px 2px lightgray; }

/*# sourceMappingURL=style.css.map */
