.table_container {
  width: 50rem; }

.avatar > img {
  width: 25px;
  height: 100%;
  display: block;
  margin: 0 auto; }

.avatar {
  align-content: center; }

.table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 5px 3px 3px lightgray; }

.table, th, td {
  border-bottom: 1px solid;
  border-color: lightgray; }

tr:hover, tr:nth-child(even):hover {
  background-color: #b50156;
  color: snow; }

tr {
  height: 25px;
}

tr:nth-child(even) {
  background-color: #efeded; }

td {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; }

th {
  height: 2rem;
  text-align: center;
  background-color: #002f43;
  color: snow;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-right: solid 1px snow;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

tbody {
  cursor: pointer; }

/*# sourceMappingURL=style_table.css.map */
