//@import url(//use.fontawesome.com/releases/v6.0.0/css/all.css);


.empl_detail_container {
  width: 40rem;
  height: 18rem;
  padding: 0.5rem;
}

.btn_container {
  display: flex;
  flex-direction: row-reverse;

}

.btn {
  border: none;
  background-color: #002f43;
  padding: 12px 20px;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 2px 2px lightgray;
}

.btn>a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.fa {
  display: table-cell;
}

.fa-2x {
font-size: 1.5rem;
}
.empl_card {
  display: flex;
  background-color: #e3e1e1;
  width: 40rem;
  box-shadow: 3px 2px 2px lightgray;
}

.avatar_container {
  display: table-cell;
  vertical-align: middle;
  width: 14rem;
  height: 15rem;
}

.avatar_big {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  box-shadow: 1px 1px 1px gray;
}

.avatar_big>img {
  width: 12rem;
  height: 12rem;
  object-fit: fill;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.avatar_big>img:hover {
  width: 13rem;
  height: 13rem;
}

.main_info {
  width: 21rem;
  height: 12rem;
  padding: 1rem;
}

.social_media_cont {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  width: 5rem;
  height: 15rem;
  background-color: #002f43;
}

.main_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #002f43;
}

.position_text {
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #002f43;
  font-weight: bolder;
}

.devision_text {
  margin-top: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #002f43;
}

.tel_num_text {
  margin-top: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #002f43;
  font-weight: lighter;
}

.social_media_icon {
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.social_media_icon>a>.fa-2x {
  color: snow;
  font-size: 2rem;
}

.social_media_icon>a>.fa-2x:hover {
  color: #b50156;
  font-size: 2.3rem;
}

.social_media{
  background-color: #002f43;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social_media_icon.fa-2x {
  font-size: 2rem;
}