{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bank Lviv{% endblock%}</title>
    <script src=" {% static 'js_scripts/script.js' %}" rel="text/javascript" ></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href=" {% static 'css/style.css' %}" rel="stylesheet" />
    <link href=" {% static 'css/style_table.css' %}" rel="stylesheet" />
    <link href=" {% static 'css/style_employee_detail.css' %}" rel="stylesheet" />
    <link rel="icon" href="https://www.banklviv.com/wp-content/themes/banklviv/img/favicon.ico"/>
</head>
<body>
<div class="area">

<nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <div class="fa fa-2x"><img src={% static 'images/index.jpg' %}/></div>
                        <span class="nav-text">
                            Головна
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href={% url 'news:list' %}>
                        <i class="fa fa-regular fa-newspaper fa-2x"></i>
                        <div class="nav-text">
                            Новини
                        </div>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href={% url 'employees:list' %}>
                       <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                            Працівники
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-solid fa-circle-info fa-2x"></i>
                        <span class="nav-text">
                            Про нас
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-link fa-2x"></i>
                        <span class="nav-text">
                            Корисні посилання
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Вийти
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
</div>
<div class="wp-content">
  <div class="container-fluid">
    {% block home_page %}
    {% endblock %}
    {% block list %}
        {% block detail %}
        {% endblock detail%}
    {% endblock %}
    {% block news %}
    {% endblock %}
  </div>
</div>
</body>
</html>