{% extends "base.html" %}
{% load static %}


{% block detail %}
    <div class="empl_detail_container">
        <div class="empl_card">
            <div class="avatar_container">
                <div class="avatar_big">

                        <img alt="avatar" src="{% static '' %}avatars/default_avatar.png" >

                </div>
            </div>
            <div class="main_info">
                <div class="main_text">{{ employee.first_name }} {{ employee.last_name }}</div>
                <div class="position_text"> {{ employee.position_name }} </div>
                <div class="devision_text"> {{ employee.division_name }} </div>
            </div>
            <div class="social_media">
                <div class="social_media_icon">
                    <a href='#' target="_blank">
                        <i class="fa-2x fa fa-brands fa-facebook-square"></i>
                    </a>
                </div>
                <div class="social_media_icon">
                    <a href="#" target="_blank">
                        <i class="fa-2x fa fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <div class="social_media_icon">
                    <a href="#" target="_blank">
                        <i class="fa-2x fa fa-brands fa-instagram-square"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn_container">
            <button class="btn">
                <a href="{% url 'employees:list' %}">до переліку</a>
            </button>
        </div>
    </div>
{% endblock %}
