{% extends "base.html" %}
{% load static %}

{% block list %}
    <div class="search_form_container">
    <form class="search_form" id="search_form" action="{% url 'employees:list' %}search/" onsubmit="prev_def()">
        <label for="search_empl_field">П.І.Б.</label>
        <input type="text" class="search_empl_field" id="search_empl_field" name="full_name" placeholder="&#xf002">
        <label for="query_dept">підрозділ</label>
        <select name="division_id" id="query_dept" class="query_dept_container">
            <option>обрати із списку ...</option>
            {% for department in departments %}
                <option class="query_dept_field" id='{{ department.id }}' value={{ department.id }}>{{ department.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="пошук" class="search-btn"/>
    </form>
    </div>
    <div class="table_container">
<table class="table ">
    <thead>
    <tr>
        <th>Фото</th>
        <th>П.І.Б.</th>
        <th>Підрозділ</th>
        <th>Посада</th>
        <th>Телефон</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr onclick=window.location='http://127.0.0.1:8000/employees/detail/{{ employee.id }}'>
        <td class="avatar">
            {% for employee_extended in employees_extended %}
                {% if employee_extended.tabnumber == employee.tab_no %}
                    {% if employee_extended.avatar %}
                        <img alt="avatar" src="{% static '' %}{{ employee_extended.avatar }}" >
                    {% else %}
                        <img alt="avatar" src="{% static '' %}avatars/default_avatar.png" >
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}</td>
        <td>{{ employee.division_name }}</td>
        <td>{{ employee.position_name }}</td>
        <td>{% for employee_extended in employees_extended %}
            {% if employee_extended.tabnumber == employee.tab_no %}
                {{ employee_extended.mobilephone_number }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}